body{
    background-color:ghostwhite !important;  
    background-repeat:repeat-x !important;
    background-repeat: inherit !important; 
    margin-top: 100px !important;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:bisque!important;
}

.box{
    margin: 5px;
    background-color:aliceblue;
    border-radius: 20px;
    padding: 3px;
    border-color:darkslategray;
    width: 200px;
    text-align:center;
}

.box::placeholder{
    text-align: center;
}

#body2 label{
    font-size: 25px !important;
    font-family: arial !important;
}

#botaoPesquisar{
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    border-color:darkslategray;
}
